<footer>
  <div id="footercenter">
    <div style="color: white;">Connect With Me</div>
    <div class="footerimgs">
      <div><img src="/static/Images/insta.png" /></div>
      <div><img src="/static/Images/twitter.png" /></div>
      <div><img src="/static/Images/in2.png" /></div>
      <div><img src="/static/Images/fb.png" /></div>
    </div>
  </div>
</footer>