<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    ></script>

    <link rel="stylesheet" href="/static/CSS/Commons.css" />
    <link rel="stylesheet" href="/static/CSS/login.css" />
  </head>
  <body>
    <div id="bg"></div>
    {{>navbar}}
    <!--?--------------------------------------------- Main Body ----------------------------------------------->
    <main>
      <img src="/static/Images/boy.gif" alt="" id="gif" />
      <div id="someTxt">
        <h4>Welcome back User ! Please Login to continue ahead</h4>
      </div>
      <h1 id="signuphead">Log In</h1>
      <section id="mcontainer">
        <div id="right">
          <form action="">
            <label for="">Enter User Name</label><br />
            <input type="text" placeholder="Enter UserName" required /><br />
            <label for="">Enter Password</label><br />
            <input type="text" placeholder="Enter Password" required />
            <br />
            <p id="checkbox">
              <input type="checkbox" required />By clicking here, I state that I
              have read and understood the terms and conditions.
            </p>

            <input class="bunten" type="submit" value="Sign In" />
            <br />
            <br />
            <center>OR</center>
            <hr />
            <br />
            <button class="bunten" id="goog">
              Continue with Google
              <label style="color: white">-</label>
              <img width="20px" src="/static/Images/goog.png" alt="" />
            </button>
          </form>
        </div>
      </section>
    </main>
    <!--?--------------------------------------------- Footer ----------------------------------------------->
    <footer></footer>
  </body>
</html>
<!-- <script src="index.js"></script> -->
<!--??--------------------------------------------- <Bootstrap> ----------------------------------------------->